<footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
    <span class="year"></span> creaTees
    <div id="bottom-bar" class="container py-2">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-phone"></i> +880 1779 168636
            </div>
            <div class="col-md-4">
                <i class="fas fa-envelope-open"></i> createesbd@gmail.com
            </div>
            <div class="col-md-4">
                <div class="social">
                    <a class="text-white" href="https://www.facebook.com/CreaTees-351499048735672" target="_blank">
                        <i class="fab fa-facebook"></i> follow us on facebook
                    </a>
                </div>
            </div>
        </div>
    </div><br class="break"><br class="break">
    developed by: <a style="color:#fff;" href="http://facebook.com/touha99" target="_blank"><u>Touha Zohair</u></a>
</footer>